@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans&subset=latin,latin-ext);
*, *:before, *:after {
    box-sizing: border-box;
}


body {

    background-color: rgb(215, 44, 153);
    -webkit-transition: all .25s ease;
    trasition: all .25s ease;
    height: 100%;
    width: 100%;
}
.clock {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 200px;
    font-weight: bold;
    font-color: silver;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate (-50%, -50%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    z-index: 1;
    padding-left: 100px;
    
   
}
