@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body {
    height: 100%;
    width: 100%;
}
span {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate (-50%,-50%);
    -webkit-transition: all .25s ease;
    trasition: all .25s ease;
}
